body {
    background-color: gray;
}
head {
    color: rgb(248, 173, 103);
}
hr {
    background-color: gray;
    border-style: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 7px;
    border-color: gray);
    width: 30%;
}
h1 {
    color: khaki;
}
#id {
    background-color: rgb(100, 99, 99);
}
.class{
    background-color: rgb(88, 88, 88);
}